@media screen and (min-width: 769px) {

    html,
    body {
        font-size: 15px;
    }

    :root {
        --image-bg: url('../assets/images/bg-desktop-light.jpg');
    }

    .darkmode {
        --image-bg: url('../assets/images/bg-desktop-dark.jpg');
    }

    .background-container {
        min-height: 300px;
    }


    .container {
        max-width: 36rem;
    }

    .header__title {
        font-size: 40px;
    }
    .form__input:focus{
        font-size: 1.2rem;
    }
    .list__remove{
        opacity: 0;
    }
    .list__item:hover .list__remove {
        cursor: pointer;
        opacity: 1;
    }
}